@import "variables";

@include screen2('mobile') {
  header{
    height: 300px;
    padding: 0 40%;
  }
  
  .logotype-svg, .logotype, .labmenu{
    margin: 0;
    padding: 0;
  }
  .labmenu{
    margin-top: 100px;
    margin-left: -50px;
    
  }
  .logotype{
    margin-bottom: 430px;
    flex-direction: column;
  }
  .slider > input + label, .slider > input:checked + label + label, .slider > input:checked + label + label + label, .counters_item, .header-txt {
    display: none;
    height: 10px;
  }

  }