@import "variables";

 @include screen1('desktop') {
  body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
 header {
    height: 600px;
    padding: 0 10%;
  }
  .slider1, .slider2, .slider3, .slider4 {
    background-size: cover;
  }
  .logotype{
    display: flex;
    align-items: flex-end;
    margin-bottom: 430px;
    margin-left: -120px;
  }
  .loupe, .basket, .slider > input + label, .header-txt p, .header-txt h2 {
    display: none;
  }
  .hidden-panel-social, aside div, aside a, .services-ideas, .footer1, .logotype-svg-footer, .element_first, .element_second, .element_third, .element_fourth, .element_fourth h4, .element_fourth a {
    display: none;
    height: 10px;
  }
   .slider > input:checked + label + label {
    left: 2%;
    &+ label {
    right: 0;
  }}
  .header-txt{
    z-index: 3;
  }
  .slider-header{ 
    h1{
      margin-top: -600px;
      margin-bottom: 150px;
    }
    a{
       z-index: 3;
    }
  }
  
 .logotype-svg-partners {
   margin-right: 65px;
   margin-left: 65px;
 }
  .counters_item svg {
    width: 24px;
    height: 24px;
}

  .counters figcaption span{
    width: 50px;
    font-size: 28px;
    text-transform: lowercase;
    text-align: center;
}
  .footer2 {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .footer-list-nav ul {
    margin-left: 25%;
  }
  .footer-list-nav li {
    padding-right: 15%;
  }
  .labmenu {
    display: block;
    position: relative;
    padding: 0;
    margin-top: 50px;
  }
   .mobile-devices {
    padding-bottom: 50px;
    img{
    margin-bottom: -40px;
  }
  }
  .header-list {
    visibility: hidden;
    z-index: 100;
    margin: 0 auto;
    height: auto;
    width: 300px;
    flex-direction: column;
  }
  .header-list_item {
    height: 40px;
    border: $border $color2;
    text-align: center;
    background-color: $color1;
    padding-top: 20px;
    z-index: 100;
    opacity: 0.8;
    &:hover{
      opacity: 1;
  }
}
 .video{
    width: 100%;
    height: auto;
  }

}